In this file, we will work on how we can classify the nationalities of people by using their names. There is a lot about how we can play with names.

In [1]:
from tensorflow import keras
import tensorflow as tf
import pandas as pd
import os
import re

In [2]:
# f_url = "https://raw.githubusercontent.com/amankharwal/Website-data/master/Indian-Female-Names.csv"
# m_url = "https://raw.githubusercontent.com/amankharwal/Website-data/master/Indian-Male-Names.csv"

# male_data = pd.read_csv(m_url)
# female_data = pd.read_csv(f_url)

male_data = pd.read_csv("nationality/male_names.csv")
female_data = pd.read_csv("nationality/female_names.csv")

In [3]:
female_data.head()

              name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian

Now we are creating helper functions for data cleaning and processing

In [4]:
repl_list = ['s/o','d/o','w/o','/','&',',','-']

def clean_data(name):
    name = str(name).lower()
    name = (''.join(i for i in name if ord(i)<128)).strip()
    for repl in repl_list:
        name = name.replace(repl," ")
    if '@' in name:
        pos = name.find('@')
        name = name[:pos].strip()
    name = name.split(" ")
    name = " ".join([each.strip() for each in name])
    return name

In [5]:
def remove_records(merged_data):
    merged_data['delete'] = 0
    merged_data.loc[merged_data['name'].str.find('with') != -1,'delete'] = 1
    merged_data.loc[merged_data['count_words']>=5,'delete']=1
    merged_data.loc[merged_data['count_words']==0,'delete']=1
    merged_data.loc[merged_data['name'].str.contains(r'\d') == True,'delete']=1
    cleaned_data = merged_data[merged_data.delete==0]
    return cleaned_data

In [6]:
merged_data = pd.concat((male_data,female_data),axis=0)

In [7]:
merged_data['name'] = merged_data['name'].apply(clean_data)
merged_data['count_words'] = merged_data['name'].str.split().apply(len)

In [8]:
cleaned_data = remove_records(merged_data)

In [9]:
indian_cleaned_data = cleaned_data[['name','count_words']].drop_duplicates(subset='name',keep='first')
indian_cleaned_data['label'] = 'indian'

In [10]:
len(indian_cleaned_data)

13754

After loading and removing the wrong entries in the data, we got a few records around 13,000.

In [11]:
cleaned_data.head()

              name gender    race  count_words  delete
0          barjraj      m  indian            1       0
1     ramdin verma      m  indian            2       0
2  sharat chandran      m  indian            2       0
3  birender mandal      m  indian            2       0
4             amit      m  indian            1       0

In [12]:
merged_data.race.value_counts()

indian    30227
Name: race, dtype: int64

In [13]:
indian_cleaned_data.head()

              name  count_words   label
0          barjraj            1  indian
1     ramdin verma            2  indian
2  sharat chandran            2  indian
3  birender mandal            2  indian
4             amit            1  indian

Lets create some non-Indian names using Faker - a pretty cool package to generate realistic names from different regions.

In [17]:
# pip install faker

In [18]:
from faker import Faker
fake = Faker("en_US")
fake.name()

'Alexandra Bennett'

In [19]:
from faker import Faker
import random
req = 15000
non_indian_names = []

langs = ['ar_EG','bs_BA','de_DE','dk_DK','en_AU','en_CA','en_GB',
'en_IN','en_NZ','en_US','it_IT','no_NO','ro_RO']

for i in range(0,req):
    lng_indx = random.randint(0,len(langs)-1)
    fake = Faker(langs[lng_indx])
    non_indian_names.append(fake.name().lower())

In [20]:
non_indian_names_orig = list(set(non_indian_names))

In [21]:
len(non_indian_names_orig)

14664

In [22]:
non_indian_data = pd.DataFrame({'name':non_indian_names_orig})
non_indian_data['count_words'] = non_indian_data['name'].str.split().apply(len)

We have generated approximately the same number of names as we have in the Indian data set. We then removed samples longer than 5 words. The Indian data set contained a lot of names with just first names. So we need to make the overall non-Indian distribution also similar.

In [23]:
non_indian_data.head()

                   name  count_words
0            reece nash            2
1       veronica harris            2
2  suzanne green-garner            2
3           derek eaton            2
4      melissa harrison            2

Lets check the distribution of count of words in names. We dont want them to be too different

In [24]:
indian_cleaned_data['count_words'].value_counts()

2    7954
1    4322
3    1344
4     134
Name: count_words, dtype: int64

In [25]:
non_indian_data['count_words'].value_counts()

2    13058
3     1422
4      179
5        5
Name: count_words, dtype: int64

In [26]:
two_word_names = non_indian_data[non_indian_data['count_words']==2]['name']
one_word_req = 5000
names_one_two_words = [each.split()[0] for each in two_word_names[:one_word_req]] + list(two_word_names[one_word_req:])
count_words = [1] * one_word_req + [2] * len(two_word_names[one_word_req:])
not_two_words_pd  = non_indian_data[non_indian_data['count_words']!=2]
one_two_words_pd = pd.DataFrame({'name':names_one_two_words,'count_words':count_words})
non_indian_data = pd.concat((not_two_words_pd,one_two_words_pd),axis=0)
non_indian_data['count_words'].value_counts()
non_indian_data['label'] = 'non_indian'
non_indian_data = non_indian_data[non_indian_data['count_words']<5]
non_indian_data['count_words'].value_counts()

2    8058
1    5000
3    1422
4     179
Name: count_words, dtype: int64

In [27]:
full_data = pd.concat((non_indian_data[['name','label']],indian_cleaned_data[['name','label']]),axis=0)
name_data = full_data.sample(frac=1)

# full_data.to_csv("name_data.csv",index=False)
# from google.colab import files
# files.download('name_data.csv')

name_data.head()

                       name       label
10640  hr frederik sørensen  non_indian
8752   sig. giampaolo bosio  non_indian
227               rinukanwr      indian
6921          austin torres  non_indian
548               raju garg      indian

In [28]:
# data_url = "https://raw.githubusercontent.com/ashavish/name-nationality/master/data/name_data.csv"
# name_data = pd.read_csv(data_url)

In [29]:
name_data['label'].value_counts()

non_indian    14659
indian        13754
Name: label, dtype: int64

We end up with about 14,000 non-Indian names and 13,000 Indian names. Now let’s build a neural network to classify nationalities using names:

In [30]:
from sklearn.model_selection import train_test_split
X = name_data['name'].astype(str)
Y = name_data['label']
train_names,test_names,train_labels,test_labels = train_test_split(X,Y,test_size=0.20,random_state =42,stratify=Y)

### Naive Bayes with Count Vectorizer for name classification

In [31]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics import confusion_matrix,classification_report

vectorizer = CountVectorizer()
X_ = vectorizer.fit_transform(train_names.values.astype('U'))
len(vectorizer.get_feature_names())

11734

In [32]:
model = MultinomialNB()
model.fit(X_,train_labels)

X_test = vectorizer.transform(test_names.values.astype('U'))

test_predicted = model.predict(X_test)

print(classification_report(test_labels,test_predicted))

              precision    recall  f1-score   support

      indian       0.98      0.76      0.85      2751
  non_indian       0.81      0.99      0.89      2932

    accuracy                           0.87      5683
   macro avg       0.90      0.87      0.87      5683
weighted avg       0.89      0.87      0.87      5683

### Testing on new Names
Lets create some names which are not present in the data at all and check the model on these names

In [33]:
check_new_names = ['lalitha','tyson','shailaja','shyamala','vishwanathan','ramanujam','conan','kryslovsky',
'ratnani','diego','kakoli','shreyas','brayden','shanon']

X_new = vectorizer.transform(check_new_names)
predictions_nb_cv = model.predict(X_new)
test = pd.DataFrame({'names':check_new_names,'predictions_nb_cv':predictions_nb_cv}) 
test

           names predictions_nb_cv
0        lalitha        non_indian
1          tyson        non_indian
2       shailaja        non_indian
3       shyamala        non_indian
4   vishwanathan        non_indian
5      ramanujam        non_indian
6          conan        non_indian
7     kryslovsky        non_indian
8        ratnani        non_indian
9          diego        non_indian
10        kakoli        non_indian
11       shreyas        non_indian
12       brayden        non_indian
13        shanon        non_indian

Doesnt do well at all ! But thats expected. Now lets try with subword encoding

### Naive Bayes with SentencePiece Embedding

In [35]:
!pip install tokenizers

Collecting tokenizers
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 6.4 MB/s
Installing collected packages: tokenizers
Successfully installed tokenizers-0.10.3

In [36]:
from tokenizers import ByteLevelBPETokenizer,CharBPETokenizer,SentencePieceBPETokenizer,BertWordPieceTokenizer


f = open("train_names.txt","w")
for each in list(train_names):
    f.write(str(each))
    f.write("\n")

f.close()

In [37]:
tokenizer = SentencePieceBPETokenizer()
tokenizer.train(["./train_names.txt"],vocab_size=2000,min_frequency=2)

encoded_tokens = [tokenizer.encode(str(each)).tokens for each in train_names]
encoded_tokens_test = [tokenizer.encode(str(each)).tokens for each in test_names]

encoded_tokens = [" ".join(each)  for each in encoded_tokens]
encoded_tokens_test = [" ".join(each)  for each in encoded_tokens_test]

encoded_tokens[:10]

['▁raju ▁d ass',
 '▁hr ▁b ørg e ▁lar s en',
 '▁l og an ▁mar sh al l',
 '▁parm ila ▁son a',
 '▁b ald ev',
 '▁sam s un g ▁s ▁singh',
 '▁na om i ▁kir k',
 '▁rita ▁rasm uss en',
 '▁ka ish av',
 '▁brand y ▁mor al es ▁md']

In [38]:
tfidf_vect = TfidfVectorizer()
X_ = tfidf_vect.fit_transform(encoded_tokens)
len(tfidf_vect.get_feature_names())

model = MultinomialNB()
model.fit(X_,train_labels)

X_test = tfidf_vect.transform(encoded_tokens_test)

test_predicted = model.predict(X_test)

print(classification_report(test_labels,test_predicted))

              precision    recall  f1-score   support

      indian       0.91      0.94      0.92      2751
  non_indian       0.94      0.91      0.92      2932

    accuracy                           0.92      5683
   macro avg       0.92      0.92      0.92      5683
weighted avg       0.92      0.92      0.92      5683

Pretty decent. Now lets check on some new words

In [39]:
encoded_tokens_check = [tokenizer.encode(str(each).lower()).tokens for each in check_new_names]
encoded_tokens_check = [" ".join(each)  for each in encoded_tokens_check]

X_new = tfidf_vect.transform(encoded_tokens_check)
predictions_nb_enc_tf = model.predict(X_new)
test = pd.DataFrame({'names':check_new_names,'predictions_nb_enc_tf':predictions_nb_enc_tf}) 
test

           names predictions_nb_enc_tf
0        lalitha                indian
1          tyson            non_indian
2       shailaja                indian
3       shyamala                indian
4   vishwanathan                indian
5      ramanujam                indian
6          conan            non_indian
7     kryslovsky            non_indian
8        ratnani                indian
9          diego            non_indian
10        kakoli                indian
11       shreyas                indian
12       brayden            non_indian
13        shanon            non_indian

### Character based encoding with LSTM model

In [42]:
from tensorflow.keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.layers.embeddings import Embedding
import numpy as np
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import Callback
np.random.seed(42)

In [43]:
def char_encoded_representation(data,tokenizer,vocab_size,max_len):
    char_index_sentences = tokenizer.texts_to_sequences(data)
    sequences = [to_categorical(x, num_classes=vocab_size) for x in char_index_sentences]
    X = sequence.pad_sequences(sequences, maxlen=max_len)
    return X

In [44]:
max_len = max([len(str(each)) for each in train_names])
# mapping = get_char_mapping(train_names)
# vocab_size = len(mapping)

tok = Tokenizer(char_level=True)
tok.fit_on_texts(train_names)
vocab_size = len(tok.word_index) + 1
X_train = char_encoded_representation(train_names,tok,vocab_size,max_len)
X_train.shape

(22730, 36, 55)

In [45]:
X_test = char_encoded_representation(test_names,tok,vocab_size,max_len)
X_test.shape

(5683, 36, 55)

In [46]:
le = LabelEncoder()
le.fit(train_labels)
y_train = le.transform(train_labels)
y_test = le.transform(test_labels)

In [47]:
# Model Specification

def build_model(hidden_units,max_len,vocab_size):
    model = Sequential()
    # model.add(Embedding(top_words, embedding_vecor_length, input_length=max_review_length))
    model.add(LSTM(hidden_units,input_shape=(max_len,vocab_size)))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    print(model.summary())
    return model

In [48]:
class myCallback(Callback): 
    def __init__(self,X_test,y_test):
        self.X_test = X_test
        self.y_test = y_test
    def on_epoch_end(self, epoch, logs={}): 
        loss,acc = model.evaluate(self.X_test, self.y_test, verbose=0)
        print('\nTesting loss: {}, acc: {}\n'.format(loss, acc))

In [49]:
model = build_model(100,max_len,vocab_size)
model.fit(X_train, y_train, epochs=50, batch_size=64,callbacks=myCallback(X_test,y_test))

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 100)               62400
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 62,501
Trainable params: 62,501
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/50
356/356 [==============================] - 23s 6ms/step - loss: 0.5090 - accuracy: 0.7388

Testing loss: 0.37326768040657043, acc: 0.8319549560546875

Epoch 2/50
356/356 [==============================] - 2s 6ms/step - loss: 0.3573 - accuracy: 0.8420

Testing loss: 0.317292183637619, acc: 0.8599331378936768

Epoch 3/50
356/356 [==============================] - 2s 5ms/step - loss: 0.3027 - accuracy: 0.8703

Testing loss: 0.2842683792114258, acc: 0.8826324343681335

Epoch 4/50
356/356 [==============================] - 2s 5ms/step - loss: 0.2823 - accuracy: 0.8836

Testing loss: 0.2879863381385803, acc: 0.881928563117981

Epoch 5/50
356/356 [==============================] - 2s 5ms/step - loss: 0.2521 - accuracy: 0.8929

Testing loss: 0.2609037458896637, acc: 0.8924863338470459

Epoch 6/50
356/356 [==============================] - 2s 5ms/step - loss: 0.2274 - accuracy: 0.9068

Testing loss: 0.23408614099025726, acc: 0.9030441641807556

Epoch 7/50
356/356 [==============================] - 2s 5ms/step - loss: 0.2096 - accuracy: 0.9114

Testing loss: 0.22307248413562775, acc: 0.9111384749412537

Epoch 8/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1949 - accuracy: 0.9211

Testing loss: 0.21081534028053284, acc: 0.9144817590713501

Epoch 9/50
356/356 [==============================] - 2s 5ms/step - loss: 0.1877 - accuracy: 0.9223

Testing loss: 0.20872098207473755, acc: 0.9194087386131287

Epoch 10/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1727 - accuracy: 0.9281

Testing loss: 0.19660259783267975, acc: 0.9220482110977173

Epoch 11/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1569 - accuracy: 0.9361

Testing loss: 0.18622782826423645, acc: 0.9290867447853088

Epoch 12/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1508 - accuracy: 0.9411

Testing loss: 0.18348222970962524, acc: 0.9290867447853088

Epoch 13/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1352 - accuracy: 0.9478

Testing loss: 0.19013002514839172, acc: 0.9280309677124023

Epoch 14/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1326 - accuracy: 0.9486

Testing loss: 0.18274188041687012, acc: 0.9340137243270874

Epoch 15/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1291 - accuracy: 0.9510

Testing loss: 0.1742086112499237, acc: 0.9348935484886169

Epoch 16/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1106 - accuracy: 0.9570

Testing loss: 0.18000170588493347, acc: 0.9361252784729004

Epoch 17/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1034 - accuracy: 0.9604

Testing loss: 0.18869580328464508, acc: 0.9311982989311218

Epoch 18/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0901 - accuracy: 0.9669

Testing loss: 0.16779102385044098, acc: 0.9396445751190186

Epoch 19/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0873 - accuracy: 0.9656

Testing loss: 0.17190921306610107, acc: 0.9414041638374329

Epoch 20/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0864 - accuracy: 0.9679

Testing loss: 0.17558710277080536, acc: 0.9384127855300903

Epoch 21/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0765 - accuracy: 0.9714

Testing loss: 0.1740514039993286, acc: 0.940876305103302

Epoch 22/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0772 - accuracy: 0.9711

Testing loss: 0.17564907670021057, acc: 0.9436917304992676

Epoch 23/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0635 - accuracy: 0.9760

Testing loss: 0.16951006650924683, acc: 0.9433397650718689

Epoch 24/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0649 - accuracy: 0.9771

Testing loss: 0.1719386726617813, acc: 0.9475629329681396

Epoch 25/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0596 - accuracy: 0.9784

Testing loss: 0.16527776420116425, acc: 0.9477388858795166

Epoch 26/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0569 - accuracy: 0.9791

Testing loss: 0.16641530394554138, acc: 0.9463311433792114

Epoch 27/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0537 - accuracy: 0.9804

Testing loss: 0.16060248017311096, acc: 0.9507302641868591

Epoch 28/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0468 - accuracy: 0.9838

Testing loss: 0.1661897450685501, acc: 0.9498504400253296

Epoch 29/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0430 - accuracy: 0.9849

Testing loss: 0.16914913058280945, acc: 0.9500263929367065

Epoch 30/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0423 - accuracy: 0.9862

Testing loss: 0.1835882067680359, acc: 0.9458032846450806

Epoch 31/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0462 - accuracy: 0.9847

Testing loss: 0.169280007481575, acc: 0.9482667446136475

Epoch 32/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0440 - accuracy: 0.9845

Testing loss: 0.16257251799106598, acc: 0.9496744871139526

Epoch 33/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0372 - accuracy: 0.9871

Testing loss: 0.17943677306175232, acc: 0.9509062170982361

Epoch 34/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0328 - accuracy: 0.9878

Testing loss: 0.17152179777622223, acc: 0.9517860412597656

Epoch 35/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0344 - accuracy: 0.9891

Testing loss: 0.2097325474023819, acc: 0.9403483867645264

Epoch 36/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0420 - accuracy: 0.9839

Testing loss: 0.17967237532138824, acc: 0.9528418183326721

Epoch 37/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0352 - accuracy: 0.9889

Testing loss: 0.1767001897096634, acc: 0.953369677066803

Epoch 38/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0233 - accuracy: 0.9924

Testing loss: 0.18579037487506866, acc: 0.9542495012283325

Epoch 39/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0225 - accuracy: 0.9925

Testing loss: 0.1938556730747223, acc: 0.9507302641868591

Epoch 40/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0247 - accuracy: 0.9917

Testing loss: 0.1940569281578064, acc: 0.9482667446136475

Epoch 41/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0284 - accuracy: 0.9901

Testing loss: 0.1861235648393631, acc: 0.9535456895828247

Epoch 42/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0220 - accuracy: 0.9930

Testing loss: 0.19422213733196259, acc: 0.9537216424942017

Epoch 43/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0219 - accuracy: 0.9940

Testing loss: 0.1849461942911148, acc: 0.9556572437286377

Epoch 44/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0193 - accuracy: 0.9933

Testing loss: 0.19789773225784302, acc: 0.9530177712440491

Epoch 45/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0199 - accuracy: 0.9938

Testing loss: 0.19549942016601562, acc: 0.9537216424942017

Epoch 46/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0206 - accuracy: 0.9928

Testing loss: 0.19613513350486755, acc: 0.9530177712440491

Epoch 47/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0248 - accuracy: 0.9914

Testing loss: 0.18855313956737518, acc: 0.9567130208015442

Epoch 48/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0208 - accuracy: 0.9927

Testing loss: 0.19994507730007172, acc: 0.9526658654212952

Epoch 49/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0182 - accuracy: 0.9940

Testing loss: 0.19607430696487427, acc: 0.9570649266242981

Epoch 50/50
356/356 [==============================] - 2s 5ms/step - loss: 0.0159 - accuracy: 0.9952

Testing loss: 0.20335201919078827, acc: 0.9547774195671082

In [50]:
X_predict = char_encoded_representation(check_new_names,tok,vocab_size,max_len)

predictions_prob = model.predict(X_predict)
predictions = np.array(predictions_prob)
predictions[predictions > 0.5] = 1
predictions[predictions <= 0.5] = 0
predictions = np.squeeze(predictions)
predictions_lstm_char = le.inverse_transform(list(predictions.astype(int)))
test = pd.DataFrame({'names':check_new_names,'predictions_lstm_char':predictions_lstm_char}) 
test

           names predictions_lstm_char
0        lalitha                indian
1          tyson            non_indian
2       shailaja                indian
3       shyamala                indian
4   vishwanathan                indian
5      ramanujam                indian
6          conan            non_indian
7     kryslovsky            non_indian
8        ratnani                indian
9          diego            non_indian
10        kakoli                indian
11       shreyas                indian
12       brayden            non_indian
13        shanon            non_indian

### SentencePiece Encoding with LSTM

Lets also check with a encoding using the **SentencePiece Encoding** we used for Naive Bayes. But now we will use it with an LSTM with a much smaller vocabulary

In [51]:
from tokenizers import ByteLevelBPETokenizer,CharBPETokenizer,SentencePieceBPETokenizer,BertWordPieceTokenizer
vocab_size = 200

tokenizer = SentencePieceBPETokenizer()
tokenizer.train(["./train_names.txt"],vocab_size=vocab_size,min_frequency=2)

In [52]:
def sent_piece_encoded_representation(data,tokenizer):
    encoded_tokens = [tokenizer.encode(str(each)).ids for each in data]
    sequences = [to_categorical(x, num_classes=vocab_size) for x in encoded_tokens]
    X = sequence.pad_sequences(sequences, maxlen=max_len)
    return X

In [53]:
max_len = max([len(str(each)) for each in train_names])
le = LabelEncoder()
le.fit(train_labels)
y_train = le.transform(train_labels)
y_test = le.transform(test_labels)

In [54]:
X_train = sent_piece_encoded_representation(train_names,tokenizer)
X_train.shape

(22730, 36, 200)

In [55]:
X_test = sent_piece_encoded_representation(test_names,tokenizer)
X_test.shape

(5683, 36, 200)

In [56]:
model = build_model(100,max_len,vocab_size)
model.fit(X_train, y_train, epochs=50, batch_size=64,callbacks=myCallback(X_test,y_test))

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 100)               120400
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 101
=================================================================
Total params: 120,501
Trainable params: 120,501
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/50
356/356 [==============================] - 4s 6ms/step - loss: 0.4723 - accuracy: 0.7855

Testing loss: 0.28326326608657837, acc: 0.8852718472480774

Epoch 2/50
356/356 [==============================] - 2s 6ms/step - loss: 0.2724 - accuracy: 0.8866

Testing loss: 0.2601301968097687, acc: 0.8926623463630676

Epoch 3/50
356/356 [==============================] - 2s 6ms/step - loss: 0.2512 - accuracy: 0.8951

Testing loss: 0.24539077281951904, acc: 0.9019883871078491

Epoch 4/50
356/356 [==============================] - 2s 6ms/step - loss: 0.2288 - accuracy: 0.9067

Testing loss: 0.22528895735740662, acc: 0.9088509678840637

Epoch 5/50
356/356 [==============================] - 2s 6ms/step - loss: 0.2183 - accuracy: 0.9085

Testing loss: 0.21613946557044983, acc: 0.9120182991027832

Epoch 6/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1936 - accuracy: 0.9187

Testing loss: 0.20123088359832764, acc: 0.9180010557174683

Epoch 7/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1756 - accuracy: 0.9296

Testing loss: 0.19604331254959106, acc: 0.9211683869361877

Epoch 8/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1638 - accuracy: 0.9341

Testing loss: 0.19145280122756958, acc: 0.9215203523635864

Epoch 9/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1442 - accuracy: 0.9433

Testing loss: 0.18083615601062775, acc: 0.9287348389625549

Epoch 10/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1318 - accuracy: 0.9464

Testing loss: 0.1752193421125412, acc: 0.9304944276809692

Epoch 11/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1263 - accuracy: 0.9524

Testing loss: 0.1688050627708435, acc: 0.9350695013999939

Epoch 12/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1118 - accuracy: 0.9557

Testing loss: 0.16348323225975037, acc: 0.9357733726501465

Epoch 13/50
356/356 [==============================] - 2s 6ms/step - loss: 0.1098 - accuracy: 0.9568

Testing loss: 0.16503970324993134, acc: 0.9364771842956543

Epoch 14/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0923 - accuracy: 0.9643

Testing loss: 0.16633637249469757, acc: 0.9398205280303955

Epoch 15/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0886 - accuracy: 0.9658

Testing loss: 0.1713508665561676, acc: 0.9380608797073364

Epoch 16/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0787 - accuracy: 0.9686

Testing loss: 0.16374702751636505, acc: 0.9385887980461121

Epoch 17/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0776 - accuracy: 0.9697

Testing loss: 0.1666749268770218, acc: 0.9426359534263611

Epoch 18/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0643 - accuracy: 0.9758

Testing loss: 0.16384387016296387, acc: 0.9436917304992676

Epoch 19/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0592 - accuracy: 0.9797

Testing loss: 0.17450428009033203, acc: 0.9440436363220215

Epoch 20/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0579 - accuracy: 0.9781

Testing loss: 0.1760880947113037, acc: 0.9417561292648315

Epoch 21/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0498 - accuracy: 0.9800

Testing loss: 0.16849786043167114, acc: 0.9466831088066101

Epoch 22/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0494 - accuracy: 0.9820

Testing loss: 0.17010565102100372, acc: 0.9489706158638

Epoch 23/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0430 - accuracy: 0.9851

Testing loss: 0.1689690202474594, acc: 0.949322521686554

Epoch 24/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0381 - accuracy: 0.9857

Testing loss: 0.1797506958246231, acc: 0.9435157775878906

Epoch 25/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0396 - accuracy: 0.9859

Testing loss: 0.1655765175819397, acc: 0.9489706158638

Epoch 26/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0331 - accuracy: 0.9888

Testing loss: 0.17249412834644318, acc: 0.9498504400253296

Epoch 27/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0297 - accuracy: 0.9889

Testing loss: 0.17760440707206726, acc: 0.9484426975250244

Epoch 28/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0286 - accuracy: 0.9899

Testing loss: 0.18543151021003723, acc: 0.949322521686554

Epoch 29/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0349 - accuracy: 0.9877

Testing loss: 0.19534631073474884, acc: 0.947035014629364

Epoch 30/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0287 - accuracy: 0.9899

Testing loss: 0.1929541379213333, acc: 0.9489706158638

Epoch 31/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0230 - accuracy: 0.9929

Testing loss: 0.22395937144756317, acc: 0.947210967540741

Epoch 32/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0207 - accuracy: 0.9932

Testing loss: 0.21026767790317535, acc: 0.9498504400253296

Epoch 33/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0212 - accuracy: 0.9929

Testing loss: 0.20476600527763367, acc: 0.9507302641868591

Epoch 34/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0187 - accuracy: 0.9942

Testing loss: 0.18838347494602203, acc: 0.9540735483169556

Epoch 35/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0180 - accuracy: 0.9942

Testing loss: 0.20661751925945282, acc: 0.9530177712440491

Epoch 36/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0162 - accuracy: 0.9946

Testing loss: 0.21142737567424774, acc: 0.9505543112754822

Epoch 37/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0217 - accuracy: 0.9923

Testing loss: 0.20920126140117645, acc: 0.951082170009613

Epoch 38/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0163 - accuracy: 0.9948

Testing loss: 0.21080464124679565, acc: 0.9519619941711426

Epoch 39/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0145 - accuracy: 0.9951

Testing loss: 0.2158057689666748, acc: 0.9524898529052734

Epoch 40/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0167 - accuracy: 0.9946

Testing loss: 0.21493755280971527, acc: 0.95125812292099

Epoch 41/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0228 - accuracy: 0.9927

Testing loss: 0.20136503875255585, acc: 0.9551293253898621

Epoch 42/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0141 - accuracy: 0.9962

Testing loss: 0.21293598413467407, acc: 0.9517860412597656

Epoch 43/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0128 - accuracy: 0.9955

Testing loss: 0.21515382826328278, acc: 0.9538975954055786

Epoch 44/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0124 - accuracy: 0.9960

Testing loss: 0.19282107055187225, acc: 0.9582966566085815

Epoch 45/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0120 - accuracy: 0.9961

Testing loss: 0.2047889232635498, acc: 0.9561851024627686

Epoch 46/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0104 - accuracy: 0.9967

Testing loss: 0.21293002367019653, acc: 0.9577687978744507

Epoch 47/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0106 - accuracy: 0.9965

Testing loss: 0.21561294794082642, acc: 0.957416832447052

Epoch 48/50
356/356 [==============================] - 2s 6ms/step - loss: 0.0095 - accuracy: 0.9967

Testing loss: 0.20936091244220734, acc: 0.9586486220359802

Epoch 49/50
356/356 [==============================] - 2s 7ms/step - loss: 0.0124 - accuracy: 0.9958

Testing loss: 0.22349531948566437, acc: 0.9544254541397095

Epoch 50/50
356/356 [==============================] - 2s 7ms/step - loss: 0.0174 - accuracy: 0.9944

Testing loss: 0.20372852683067322, acc: 0.9558331966400146

In [57]:
X_predict = sent_piece_encoded_representation(check_new_names,tokenizer)

predictions_prob = model.predict(X_predict)
predictions = np.array(predictions_prob)
predictions[np.where(predictions > 0.5)[0]] = 1
predictions[np.where(predictions <= 0.5)[0]] = 0
predictions = np.squeeze(predictions)

predictions_lstm_sent_enc = le.inverse_transform(list(predictions.astype(int)))

In [58]:
test = pd.DataFrame({'names':check_new_names,'predictions_lstm_sent_enc':predictions_lstm_sent_enc}) 
test

           names predictions_lstm_sent_enc
0        lalitha                    indian
1          tyson                non_indian
2       shailaja                    indian
3       shyamala                    indian
4   vishwanathan                    indian
5      ramanujam                    indian
6          conan                non_indian
7     kryslovsky                non_indian
8        ratnani                    indian
9          diego                    indian
10        kakoli                    indian
11       shreyas                non_indian
12       brayden                non_indian
13        shanon                non_indian